/* light red: rgb(221, 26, 26)
dark red: rgb(94, 14, 16)
light grey: rgb(146, 149, 151)
dark grey: rgb(30, 30, 30)
white: rgb(255, 249, 249) */

.navBar {
    background-color: rgb(30,30,30);
}

.bar {
    background-image: url('../../../assets/woodBack.jpg');
    background-size: cover;
}

.logo {
    height: 100px;
    width: 150px;
    margin-left: -30px;
}

.logo:hover {
    box-shadow: 0px 1px 10px rgb(192, 28, 28);
}

.link {
    border: solid black;
    border-radius: 5px;
    margin-right: 10px;
}

a:link {
    background-color: rgb(30,30,30);
}

a:visited {
    background-color: rgb(30,30,30);
}

a:hover {
    background-color: rgb(146,149,151);
    border-radius: 5px;
}
